
.about {
    display: flex;
    .wrapper {
        display: flex; }
        &__left {
            display: flex;
            flex-basis: 50%;
        }
        &__right {
            display: flex;
            flex-basis: 50%;
            gap: 25px;
            flex-direction: column;
            margin-top: 80px;
            margin-bottom: 80px;
            &__title {
                font-family: Georgia;
                font-size: 35px;
                font-weight: 400;
                line-height: 45px;
                letter-spacing: 0.06em;
                text-align: left;
                color: $lightgrey;
                max-width: 370px;
            }
            &__subtitle {
                font-family: Arial;
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                color: $grey;
            }
        }
}
